[submodule "submodules/asio"]
	path = submodules/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "submodules/tclap"]
	path = submodules/tclap
	url = https://github.com/mirror/tclap.git
[submodule "submodules/dnp3"]
	path = submodules/dnp3
	url = https://github.com/dnp3/opendnp3.git
[submodule "submodules/python-cmake-buildsystem"]
	path = submodules/python-cmake-buildsystem
	url = https://github.com/python-cmake-buildsystem/python-cmake-buildsystem.git
