/build
/include
/Release
/Debug
/Release-rpi
/Debug-rpi
/blat_json_config.pl
/Data Concentrator0.txt
/DMCConnector.conf
/DMCDNP3.conf
/DMCDNP3Outstation.conf
/example_weather.json
/gmon.out
/ConnectorSimple.conf
/opendatacon.conf
/simple-opendatacon.conf
/lib
.directory
WeatherStationBuild/*

*.suo
*.vcxproj.user
*.opensdf
*.sdf
opendatacon.xcodeproj/xcuserdata
opendatacon.xcodeproj/project.xcworkspace
opendatacon.build
