[submodule "submodules/asio"]
	path = Code/submodules/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "submodules/spdlog"]
	path = Code/submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "submodules/tclap"]
	path = Code/submodules/tclap
	url = https://github.com/mirror/tclap.git
[submodule "submodules/dnp3"]
	path = Code/submodules/dnp3
	url = https://github.com/neilstephens/opendnp3.git
[submodule "submodules/python-cmake-buildsystem"]
	path = Code/submodules/python-cmake-buildsystem
	url = https://github.com/python-cmake-buildsystem/python-cmake-buildsystem.git
[submodule "Code/submodules/Simple-Web-Server"]
	path = Code/submodules/Simple-Web-Server
	url = https://gitlab.com/eidheim/Simple-Web-Server.git
[submodule "Code/submodules/modern-cpp-kafka"]
	path = Code/submodules/modern-cpp-kafka
	url = https://github.com/morganstanley/modern-cpp-kafka.git
[submodule "Code/submodules/librdkafka"]
	path = Code/submodules/librdkafka
	url = https://github.com/confluentinc/librdkafka.git
