/build*
/example*
*.orig
include/opendatacon/Version.h
_site/*
Gemfile.lock
.directory
CMakeLists.txt.user
.vscode*

.idea/
DNP3Port/DNP3OutstationPort.cpp.rej
DNP3Port/DNP3OutstationPort.h.rej
SimPort/SimPort.cpp.rej
MD3Port/uncrustify.cfg
MD3Port/uncrustify_here.pl

cmake-build-debug-mingw/
ODC_Log.txt
CBPort/uncrustify.cfg
CBPort/uncrustify_here.pl
CBPort/uncrustifywithtabs.cfg
PyPort/PythonCode/.vs/PyPort/v16/TestStore/0/000-0000.testlog
PyPort/PythonCode/.vs/PyPort/v16/TestStore/0/testlog.manifest
.vs/
