/home/knarl/qtc_projects/opendatacon/Code/scripts/gprof2dot.py linguist-vendored
/home/knarl/qtc_projects/opendatacon/Code/Ports/SimPort/sqlite3/* linguist-vendored
/home/knarl/qtc_projects/opendatacon/Code/Plugins/WebUI/www/node_modules/* linguist-vendored
/home/knarl/qtc_projects/opendatacon/Code/Plugins/WebUI/www/DataTables-1.10.20/* linguist-vendored
/home/knarl/qtc_projects/opendatacon/Code/Plugins/WebUI/www/common_modules/* linguist-vendored
/home/knarl/qtc_projects/opendatacon/Code/Libs/JSON/json/* linguist-vendored
/home/knarl/qtc_projects/opendatacon/Code/Libs/JSON/jsoncpp.cpp linguist-vendored
/home/knarl/qtc_projects/opendatacon/Code/Libs/ODC/whereami* linguist-vendored
/home/knarl/qtc_projects/opendatacon/include/catch* linguist-vendored
/home/knarl/qtc_projects/opendatacon/include/whereami* linguist-vendored
/home/knarl/qtc_projects/opendatacon/include/tromp* linguist-vendored

