/build*
/example*
*.orig
include/opendatacon/Version.h
_site/*
Gemfile.lock
.directory
CMakeLists.txt.user
.vscode*

.idea/
DNP3Port/DNP3OutstationPort.cpp.rej
DNP3Port/DNP3OutstationPort.h.rej
SimPort/SimPort.cpp.rej
MD3Port/uncrustify.cfg
MD3Port/uncrustify_here.pl

cmake-build-debug-mingw/
submodules/asio-1.12.2/
KafkaPort/uncrustify_here.pl
CBPort/uncrustify.cfg
KafkaPort/uncrustify.cfg
CBPort/uncrustify_here.pl
PyPort/uncrustify_here.pl
PyPort/uncrustify.cfg
PyPort/Old/
PyPort/PythonCode/__pycache__/odc.cpython-37.pyc
PyPort/PythonCode/.vs/PyPort/v16/.suo
PyPort/PythonCode/__pycache__/PyPortSim.cpython-37.pyc
PyPort/server/uncrustify_here.pl
PyPort/server/uncrustify.cfg
PyPort/PythonCode/__pycache__/PyPortCBSim.cpython-37.pyc
