[submodule "submodules/asio"]
	path = submodules/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "submodules/tclap"]
	path = submodules/tclap
	url = https://github.com/eile/tclap.git
[submodule "submodules/dnp3"]
	path = submodules/dnp3
	url = https://github.com/dnp3/opendnp3.git
[submodule "submodules/libkafka-asio"]
	path = submodules/libkafka-asio
	url = https://github.com/ScottEllisNovatex/libkafka-asio
[submodule "submodules/zlib"]
	path = submodules/zlib
	url = https://github.com/madler/zlib.git
[submodule "submodules/snappy"]
	path = submodules/snappy
	url = https://github.com/google/snappy.git
