[Unit]
Description=Opendatacon Service
Requires=network.target
# Make sure the networkstack is up before we startup
After=network.target

[Service]
Type=forking
PIDFile=/var/run/opendatacon.pid
ExecStart=/opt/ODC/bin/opendatacon -d --pidfile /var/run/opendatacon.pid -p /etc/opendatacon/ 
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=30

[Install]
# Make this service startup part of normal system booting
WantedBy=multi-user.target
